/* Remove default bullets */
ul, #filetree {
    list-style-type: none;
  }

  .basefiletree {
    padding-inline-start: 0px;
  }
  
  /* Remove margins and padding from the parent ul */
  #fileTree {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  .buttons {
      cursor: pointer;
  }

  .staged {
      background-color: green;
  }

  .modified {
    background-color: purple;
  }

  .unstaged {
    background-color: blue;
  }

  .added {
    background-color: dimgray;
  }

  .new {
      background-color: firebrick;
  }


  .anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.checkout-btn{
  cursor: pointer;
}

.status > .badge {
  cursor: pointer;
  margin-left: 4px;
}
.fileborder{
  padding: 2px;
}