body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-tabs {
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
}

.nav-tabs .nav-link{
  text-decoration: none;
}

h4, h5{
  text-transform: uppercase;
  font-size: 13px !important;
}

.badge {
  font-size: 13px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.btn{

}

.col {
  font-size: 13px;
}